<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Page Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-light bg-light">
    <a class="nav-link" href="#" th:href="@{/}">Register Module</a>
</nav>

<!--Create HTML Registration Form-->

<h1>Registration</h1>
<form th:action="@{/registration}" method="post" th:object="${user}" style="margin-left: 10%; margin-right: 10%;">
    <div class="form-group">
        <label class="control-label" for="firstName">First Name</label>
        <input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="lastName">First Name</label>
        <input id="lastName" class="form-control" th:field="*{lastName}" required autofocus="autofocus" />
    </div>
    <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <input id="email" class="form-control" th:field="*{email}" required autofocus="autofocus" />
    </div>
    <div class="form-group">
        <label class="control-label" for="password">Password</label>
        <input id="password" class="form-control" type="password" th:field="*{password}" required autofocus="autofocus" />
    </div>
    <div>
        <button type="submit" class="btn btn-success">Register</button>
        <span>Already registered? <a href="/" th:href="@{/Login}">Login</a></span>
    </div>
</form>


</body>
</html>